.BuildControls {
	display: flex;
	align-items: center;
	flex-flow: column;
	width: 100%;
	margin: auto;
	padding: 10px 0;
	background-color: #cf8f2e;
	box-shadow: 0 2px 1px #ccc;
}

.OrderButton {
	font-family: inherit;
	font-size: 1.2em;
	padding: 15px 30px;
	cursor: pointer;
	color: #966909;
	border: 1px solid #966909;
	outline: none;
	background-color: #dad735;
	box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
	color: #966909;
	border: 1px solid #966909;
	background-color: #a0db41;
}

.OrderButton:disabled {
	cursor: not-allowed;
	color: #888;
	border: 1px solid #ccc;
	background-color: #c7c6c6;
}

.OrderButton:not(:disabled) {
	animation: enable 0.3s linear;
}

@keyframes enable {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
