.BuildControl {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
}

.BuildControl button {
	font: inherit;
	display: block;
	width: 80px;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #aa6817;
	outline: none;
}

.BuildControl button:disabled {
	cursor: default;
	color: #fff;
	border: 1px solid #7e7365;
	background-color: #ac9980;
}

.BuildControl button:hover:disabled {
	cursor: not-allowed;
	color: #fff;
	background-color: #ac9980;
}

.Label {
	font-weight: bold;
	width: 80px;
	padding: 10px;
}

.BuildControl .Less {
	color: #fff;
	background-color: #d39952;
}

.BuildControl .More {
	color: #fff;
	background-color: #8f5e1e;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
	color: #fff;
	background-color: #daa972;
}

.BuildControl .More:hover,
.BuildControl .More:active {
	color: #fff;
	background-color: #99703f;
}
