.Modal {
	position: fixed;
	z-index: 500;
	top: 30%;
	left: 15%;
	box-sizing: border-box;
	width: 70%;
	padding: 16px;
	transition: all 0.3s ease-out;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 1px 1px 1px black;
}

@media (min-width: 600px) {
	.Modal {
		left: calc(50% - 250px);
		width: 500px;
	}
}