.NavigationItem {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0;
}

.NavigationItem a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
	color: #8f5c2c;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	color: #40a4c8;
}

@media (min-width: 500px) {
	.NavigationItem {
		display: flex;
		align-items: center;
		width: auto;
		height: 100%;
		margin: 0;
	}

	.NavigationItem a {
		height: 100%;
		padding: 15px 10px;
		color: #fff;
		border-bottom: 4px solid transparent;
	}

	.NavigationItem a:hover,
	.NavigationItem a:active,
	.NavigationItem a.active {
		color: #fff;
		border-bottom: 4px solid #40a4c8;
		background-color: #8f5c2c;
	}
}
